<ng-container *ngIf="{ currentStep: currentStepSubject$ | async } as context">
  <app-page-wrapper>
    <cvi-ng-breadcrumbs
      class="breadcrumb"
      [breadcrumbLabels]="showConfirmationNotification ? ['Home', labels[2]] : ['Home', labels[context.currentStep]]"
      (breadcrumbChange)="changeBreadcrumb($event)"></cvi-ng-breadcrumbs>

    <ng-container *ngIf="!showConfirmationNotification; else confirmationNotification">
      <ng-container *ngIf="sortedAvailableRooms$ | async as availableRoomsData">
        <ng-container *ngIf="availableRoomsData.availableRooms.length > 0; else noResultsPlaceholder">
          <cvi-app-steps
            #stepper
            [title]="labels[context.currentStep]"
            [currentStepIndex]="context.currentStep"
            [hasTableOfContents]="false"
            [directionalButtonsDisplayed]="false"
            (stepChange)="onStepChange($event)">
            <cvi-app-step>
              <cvi-ng-track [gap]="4" flexDirection="vertical">
                <cvi-ng-track [gap]="2" horizontalAlignment="right" verticalAlignment="center">
                  <label for="sorting-dropdown">Sort by:</label>
                  <cvi-ng-select
                    htmlId="sorting-dropdown"
                    [items]="availableRoomsSortingItems"
                    [ngModel]="availableRoomsSortingItems[0]"
                    (ngModelChange)="changeSort($event)"></cvi-ng-select>
                </cvi-ng-track>
                <cvi-app-step-panel [title]="labels[0]" [titleHidden]="true">
                  <ng-container>
                    <app-available-rooms [rooms]="availableRoomsData.availableRooms" (onClick)="nextStep(stepper, $event)"></app-available-rooms>
                  </ng-container>
                </cvi-app-step-panel>
              </cvi-ng-track>
            </cvi-app-step>
            <cvi-app-step>
              <cvi-ng-track [gap]="6">
                <app-booking-sidebar [img]="roomImage">
                  <app-room-reservation-details
                    [room]="selectedRoom"
                    [checkInDate]="availableRoomsData.startDate"
                    [checkOutDate]="availableRoomsData.endDate"></app-room-reservation-details>
                </app-booking-sidebar>
                <div class="panel-container">
                  <cvi-app-step-panel [title]="labels[1]" [titleHidden]="true" [disabled]="context.currentStep < 1">
                    <ng-container *ngIf="userCredentials$ | async as userCredentials">
                      <ng-container *ngIf="userCredentials.personalIdentificationNumber; else loginButton">
                        <app-personal-information-block [userCredentials]="userCredentials"></app-personal-information-block>
                        <app-payment-method-block></app-payment-method-block>
                      </ng-container>
                      <ng-template #loginButton>
                        <cvi-ng-notification
                          class="login-notification"
                          [severity]="signInNotificationSeverity"
                          [size]="signInNotificationSize"
                          [showCloseButton]="false"
                          [showIcon]="true"
                          title="No available rooms for selected dates">
                          <button (click)="login()" class="booking-process-link">Sign In</button> to continue with booking.
                        </cvi-ng-notification>
                      </ng-template>
                      <cvi-ng-track horizontalAlignment="right" [gap]="2" class="buttons">
                        <cvi-ng-button size="m" appearance="secondary" (click)="cancelBookingProcess(stepper)">Cancel</cvi-ng-button>
                        <cvi-ng-button size="m" [disabled]="!userCredentials.personalIdentificationNumber" appearance="primary" (click)="nextStep(stepper)"
                          >Next</cvi-ng-button
                        >
                      </cvi-ng-track>
                    </ng-container>
                  </cvi-app-step-panel>
                </div>
              </cvi-ng-track>
            </cvi-app-step>
            <cvi-app-step>
              <cvi-app-step-panel [title]="labels[2]" [titleHidden]="true" [disabled]="context.currentStep < 2">
                <ng-container *ngIf="userCredentials$ | async as userCredentials">
                  <app-order-summary-block
                    [room]="selectedRoom"
                    [startDate]="availableRoomsData.startDate"
                    [endDate]="availableRoomsData.endDate"></app-order-summary-block>
                  <app-personal-information-block [userCredentials]="userCredentials"></app-personal-information-block>
                  <app-payment-method-block class="payment-method-block"></app-payment-method-block>
                  <app-data-section title="Price Summary">
                    <app-price-summary-block [room]="selectedRoom"></app-price-summary-block>
                  </app-data-section>
                </ng-container>
                <cvi-ng-track horizontalAlignment="right" [gap]="2" class="buttons">
                  <cvi-ng-button size="m" [disabled]="false" appearance="secondary" (click)="cancelBookingProcess(stepper)">Cancel</cvi-ng-button>
                  <cvi-ng-button
                    size="m"
                    [disabled]="disableConfirmationButton"
                    appearance="primary"
                    (click)="confirmBooking(selectedRoom.roomId, availableRoomsData.startDate, availableRoomsData.endDate)"
                    >Confirm Booking</cvi-ng-button
                  >
                </cvi-ng-track>
              </cvi-app-step-panel>
            </cvi-app-step>
          </cvi-app-steps>
        </ng-container>
      </ng-container>
    </ng-container>
  </app-page-wrapper>
</ng-container>
<ng-template #noResultsPlaceholder>
  <app-title-container title="No Results"></app-title-container>
  <cvi-ng-notification
    [severity]="noResultsNotificationSeverity"
    [size]="noResultsNotificationSize"
    [showCloseButton]="false"
    [showIcon]="false"
    title="No available rooms for selected dates">
    We are sorry, but there are no available rooms for the selected dates. Please, try other dates or contact our customer support for additional information
    +372 612 62.
    <a routerLink="/">Back to the homepage.</a>
  </cvi-ng-notification>
</ng-template>

<ng-template #confirmationNotification>
  <cvi-ng-notification
    [severity]="confirmationNotificationSeverity"
    [size]="confirmationNotificationSize"
    [showCloseButton]="false"
    [showIcon]="false"
    title="Thank you!">
    Booking has been confirmed. Thank You for choosing us and see you soon! <a [routerLink]="['/my-reservations']">See all your reservations.</a>
  </cvi-ng-notification>
</ng-template>
