<ng-container *ngIf="{ currentStep: currentStepSubject$ | async } as context">
  <ng-container *ngIf="!showConfirmationNotification; else confirmationNotification">
    <ng-container *ngIf="availableRooms$ | async as availableRooms">
      <ng-container *ngIf="[availableRooms].length > 0; else noResultsPlaceholder">
        <cvi-app-steps
          #stepper
          [title]="'Select Room'"
          [currentStepIndex]="context.currentStep"
          [hasTableOfContents]="false"
          [directionalButtonsDisplayed]="false"
          (stepChange)="onStepChange($event)">
          <cvi-ng-track horizontalAlignment="right" class="sorting-container" *ngIf="context.currentStep === 0">
            <span class="sorting-label">Sort by:</span>
            <cvi-ng-select [items]="availableRoomsSortingItems" [ngModel]="availableRoomsSortingItems[0]" (ngModelChange)="changeSort($event)"></cvi-ng-select>
          </cvi-ng-track>
          <cvi-app-step>
            <cvi-app-step-panel [title]="labels[0]" [titleHidden]="true">
              <ng-container>
                <app-available-rooms [rooms]="availableRooms" (onClick)="nextStep(stepper)"></app-available-rooms>
              </ng-container>
            </cvi-app-step-panel>
          </cvi-app-step>
          <cvi-app-step class="personal-information-step">
            <div class="personal-information-sidebar">sidebar</div>
            <cvi-app-step-panel class="personal-information-container" [title]="labels[1]" [titleHidden]="true" [disabled]="context.currentStep < 1">
              <ng-container *ngIf="userCredentials$ | async as userCredentials; else loginButton">
                <span>{{ userCredentials }}</span>
                <cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="cancelBookingProcess(stepper)">Cancel</cvi-ng-button>
                <cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="nextStep(stepper)">Next</cvi-ng-button>
              </ng-container>
              <ng-template #loginButton>
                <cvi-ng-notification
                  [severity]="signInNotificationSeverity"
                  [size]="signInNotificationSize"
                  [showCloseButton]="false"
                  [showIcon]="true"
                  title="No available rooms for selected dates">
                  <a (click)="login()" class="booking-process-link">Sign In</a> to continue with booking.
                </cvi-ng-notification>
              </ng-template>
            </cvi-app-step-panel>
          </cvi-app-step>
          <cvi-app-step>
            <cvi-app-step-panel [title]="labels[2]" [titleHidden]="true" [disabled]="context.currentStep < 2">
              <div>confirmation view</div>
              <cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="cancelBookingProcess(stepper)">Cancel</cvi-ng-button>
              <cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="confirmBooking()">Confirm Booking</cvi-ng-button>
            </cvi-app-step-panel>
          </cvi-app-step>
        </cvi-app-steps>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #noResultsPlaceholder>
  <cvi-ng-notification
    [severity]="noResultsNotificationSeverity"
    [size]="noResultsNotificationSize"
    [showCloseButton]="false"
    [showIcon]="false"
    title="No available rooms for selected dates">
    We are sorry, but there are no available rooms for the selected dates. Please, try other dates or contact our customer support for additional information
    +372 612 62.
    <a routerLink="/">Back to the homepage.</a>
  </cvi-ng-notification>
</ng-template>

<ng-template #confirmationNotification>
  <cvi-ng-notification
    [severity]="confirmationNotificationSeverity"
    [size]="confirmationNotificationSize"
    [showCloseButton]="false"
    [showIcon]="false"
    title="Thank you!">
    Booking has been confirmed. Thank You for choosing us and see you soon! <a [routerLink]="['/my-reservations']">See all your reservations.</a>
  </cvi-ng-notification>
</ng-template>
