<ng-container *ngIf="{ currentStep: currentStepSubject$ | async } as context">
  <ng-container *ngIf="!showConfirmationNotification; else confirmationNotification">
    <ng-container *ngIf="availableRooms$ | async as availableRooms">
      <ng-container *ngIf="[availableRooms].length > 0; else noResultsPlaceholder">
        <cvi-ng-steps
          #stepper
          [title]="'Select Room'"
          [currentStepIndex]="context.currentStep"
          [hasTableOfContents]="false"
          (stepChange)="onStepChange($event)">
          <cvi-ng-step>
            <cvi-ng-step-panel [title]="labels[0]">
              <ng-container>
                <app-available-rooms [rooms]="[availableRooms]" (onClick)="nextStep(stepper)"></app-available-rooms>
              </ng-container>
            </cvi-ng-step-panel>
          </cvi-ng-step>
          <cvi-ng-step>
            <cvi-ng-step-panel [title]="labels[1]">
              <ng-container *ngIf="userCredentials$ | async as userCredentials; else loginButton">
                <span>{{ userCredentials }}</span>
                <cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="cancelBookingProcess(stepper)">Cancel</cvi-ng-button>
                <cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="nextStep(stepper)">Next</cvi-ng-button>
              </ng-container>
              <ng-template #loginButton>
                <cvi-ng-notification
                  [severity]="signInNotificationSeverity"
                  [size]="signInNotificationSize"
                  [showCloseButton]="false"
                  [showIcon]="true"
                  title="No available rooms for selected dates">
                  <a (click)="login()" class="booking-process-link">Sign In</a> to continue with booking.
                </cvi-ng-notification>
              </ng-template>
            </cvi-ng-step-panel>
          </cvi-ng-step>
          <cvi-ng-step>
            <cvi-ng-step-panel [title]="labels[2]">
              <div>confirmation view</div>
              <cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="cancelBookingProcess(stepper)">Cancel</cvi-ng-button>
              <cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="confirmBooking()">Confirm Booking</cvi-ng-button>
            </cvi-ng-step-panel>
          </cvi-ng-step>
        </cvi-ng-steps>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #noResultsPlaceholder>
  <cvi-ng-notification
    [severity]="noResultsNotificationSeverity"
    [size]="noResultsNotificationSize"
    [showCloseButton]="false"
    [showIcon]="false"
    title="No available rooms for selected dates">
    We are sorry, but there are no available rooms for the selected dates. Please, try other dates or contact our customer support for additional information
    +372 612 62.
    <a routerLink="/">Back to the homepage.</a>
  </cvi-ng-notification>
</ng-template>

<ng-template #confirmationNotification>
  <cvi-ng-notification
    [severity]="confirmationNotificationSeverity"
    [size]="confirmationNotificationSize"
    [showCloseButton]="false"
    [showIcon]="false"
    title="Thank you!">
    Booking has been confirmed. Thank You for choosing us and see you soon! <a [routerLink]="['/my-reservations']">See all your reservations.</a>
  </cvi-ng-notification>
</ng-template>
