.personal-information {
  font-size: var(--cvi-font-size-100);
  font-weight: var(--cvi-font-weight-delta);
  padding-bottom: var(--gap);
}

.user-details {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: var(--cvi-spacing-valga);
}

.user-details-right,
.user-details-left {
  width: 50%;

  app-definition-item {
    padding-bottom: var(--cvi-spacing-paldiski);
  }
}
