<app-data-section title="Personal Information">
  <ng-container *ngIf="userCredentials">
    <cvi-ng-track [gap]="3" layout="grid" verticalAlignment="bottom" [gridRows]="2">
      <app-definition-item label="First Name">{{ userCredentials.givenName }}</app-definition-item>
      <app-definition-item label="Last Name">{{ userCredentials.familyName }}</app-definition-item>
      <app-definition-item label="Personal Identification Number">{{ userCredentials.personalIdentificationNumber }}</app-definition-item>
      <app-definition-item label="Email address">{{ userCredentials.email }}</app-definition-item>
    </cvi-ng-track>
  </ng-container>
</app-data-section>
