<div>rooms:</div>
<div *ngFor="let item of results$ | async" [style]="{padding: '20px'}">
  <span>bookingId: {{item.bookingId}}</span>
  <span>creationDate: {{item.creationDate}}</span>
  <span>endDate: {{item.endDate}}</span>
  <span>roomId: {{item.roomId}}</span>
  <span>startDate: {{item.startDate}}</span>
  <span>status: {{item.status}}</span>
  <span>userId: {{item.userId}}</span>
</div>


<ng-container *ngIf="{user: user$ | async } as data">
  <div>username: {{data.user?.username}}</div>
  <div>personal identification number: {{data.user?.personalIdentificationNumber}}</div>
</ng-container>

<cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="login()">Login</cvi-ng-button>
<cvi-ng-button [size]="'m'" [disabled]="false" [appearance]="'primary'" (click)="logout()">Log out</cvi-ng-button>
