.wrapper {
  max-width: var(--app-content-width);
  margin-inline: auto;
}

.icons-track {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--cvi-spacing-loksa);
  column-gap: var(--cvi-spacing-haapsalu);
}

.breadcrumb {
  display: block;
  padding-bottom: var(--cvi-spacing-viljandi);
}
