<app-page-wrapper>
  <cvi-ng-breadcrumbs class="breadcrumb" [breadcrumbLabels]="['Home', 'My Reservations']" (breadcrumbChange)="changeBreadcrumb($event)"></cvi-ng-breadcrumbs>
  <app-title-container title="My reservations"></app-title-container>

  <app-page-content-wrapper>
    <cvi-ng-track *ngIf="customerBookings$ | async as bookings" flexDirection="vertical" [gap]="4" class="wrapper">
      <ng-container *ngIf="bookings.length > 0; else noResultsPlaceholder">
        <ng-container *ngFor="let booking of bookings">
          <app-booking-card
            [title]="booking.room!.roomType | roomType"
            [img]="roomImage"
            [badgeLabel]="getBadgeLabel(booking.startDate)"
            [price]="String(booking.totalPriceForStayDuration)"
            currency="€">
            <ng-container app-booking-card="summary">
              <b>{{ booking.startDate | dateFormat : dateFormatString }}&ndash;{{ booking.endDate | dateFormat : dateFormatString }}</b>
              <div>{{ booking.room?.pricePerNightIncludingTaxes }}€ / night for {{ booking.room?.peopleCapacity }} adults</div>
            </ng-container>

            <cvi-ng-track flexDirection="vertical" [gap]="2">
              <div class="icons-track">
                <cvi-ng-track [gap]="1">
                  <fa-icon [icon]="faUser"></fa-icon>{{ booking.room?.peopleCapacity }} {{ booking.room!.peopleCapacity > 1 ? 'people' : 'person' }}
                </cvi-ng-track>
                <cvi-ng-track [gap]="1"> <fa-icon [icon]="faBed"></fa-icon>{{ booking.room!.bedsType | bedType }} </cvi-ng-track>
                <cvi-ng-track [gap]="1"> <fa-icon [icon]="faRulerCombined"></fa-icon>{{ booking.room?.roomSizeInSquareMeters }} m² </cvi-ng-track>
              </div>
              <div>
                <ng-container *ngIf="booking.room?.airConditioning">air conditioning &bull; </ng-container>
                <ng-container *ngIf="booking.room?.balcony">balcony &bull; </ng-container>
                <ng-container *ngIf="booking.room?.bathrobeAndSlippers">bathrobe and slippers &bull; </ng-container>
                <ng-container *ngIf="booking.room?.freeBottledWater">free bottle water &bull; </ng-container>
                <ng-container *ngIf="booking.room?.freeWiFi">free WI-FI &bull; </ng-container>
                <ng-container *ngIf="booking.room?.inRoomSafe">in-room safe &bull; </ng-container>
                <ng-container *ngIf="booking.room?.ironAndIroningBoard">iron and ironing board &bull; </ng-container>
                <ng-container *ngIf="booking.room?.professionalHairDryer">professional hair dryer &bull; </ng-container>
                <ng-container *ngIf="booking.room?.rainShower">rain shower &bull; </ng-container>
                <ng-container *ngIf="booking.room?.smartTV">smart TV</ng-container>
              </div>
            </cvi-ng-track>

            <cvi-ng-button size="m" [disabled]="disableBookingCancelling" appearance="primary" [cviNgModal]="modal">Cancel</cvi-ng-button>
          </app-booking-card>

          <ng-template #modal let-modal>
            <cvi-ng-confirmation-modal
              title="Are you sure you want to cancel this reservation?"
              confirmButtonText="Confirm cancellation"
              cancelButtonText="Back"
              [attr.style]="'--cvi-button-color: var(--cvi-color-jasper-10); --cvi-button-color--hover: var(--cvi-color-jasper-12);'"
              (cancelled)="modal.closeModal()"
              (confirmed)="cancelBooking(booking.bookingId, modal.closeModal())">
              <p>You are able to cancel reservation at least 3 days before your stay and you will be fully refunded.</p>
            </cvi-ng-confirmation-modal>
          </ng-template>
        </ng-container>
      </ng-container>

      <ng-template #noResultsPlaceholder>
        <cvi-ng-notification
          [severity]="noResultsNotificationSeverity"
          [size]="noResultsNotificationSize"
          [showCloseButton]="false"
          [showIcon]="false"
          title="No current reservations">
          You do not have any reservations yet. If you made a reservation and it does not appear on this page, please contact our customer support for
          additional information +372 612 62.
          <a routerLink="/">Back to the homepage.</a>
        </cvi-ng-notification>
      </ng-template>
    </cvi-ng-track>
  </app-page-content-wrapper>
</app-page-wrapper>
