<div class="secondary-block">
  <cvi-ng-track horizontalAlignment="justify">
    <div class="secondary-block-main-track">
      <a href="/" class="secondary-block-link">Home</a>
      <a *ngIf="extraLink" [href]="extraLink.href" class="secondary-block-link">{{ extraLink.label }}</a>
    </div>
    <a href="/" class="secondary-block-link">Accessibility</a>
  </cvi-ng-track>
</div>
<div class="primary-block">
  <cvi-ng-track horizontalAlignment="justify" verticalAlignment="center">
    <img src="/assets/images/logo.png" alt="SMIT Logo" class="logo" />
    <ng-content></ng-content>
  </cvi-ng-track>
</div>
