<div>Management</div>

<cvi-ng-tab-group>
  <cvi-ng-tab title="Manage Reservations">
    <cvi-ng-table [data]="bookings$ | async" class="reservations-table">
      <ng-template #headers>
        <ng-container *ngFor="let headerLabel of reservationsTableHeaderLabels">
          <th cvi-ng-header-cell>{{ headerLabel }}</th>
        </ng-container>
      </ng-template>
      <ng-template #rows let-row>
        <td cvi-ng-body-cell>{{ row.bookingId }}</td>
        <td cvi-ng-body-cell>
          {{ '256 (Deluxe)' }}
        </td>
        <td cvi-ng-body-cell>{{ 'guest' }}</td>
        <td cvi-ng-body-cell>{{ row.startDate | dateFormat }}-{{ row.endDate | dateFormat }}</td>
        <td cvi-ng-body-cell>
          <cvi-ng-button size="s" [disabled]="false" appearance="text" (clickEvent)="cancelBooking(row.bookingId)">Cancel</cvi-ng-button>
        </td>
      </ng-template>
    </cvi-ng-table>
  </cvi-ng-tab>
  <cvi-ng-tab title="Rooms">
    <app-available-rooms [rooms]="rooms$ | async" buttonTitle="Cancel" [showButton]="false"></app-available-rooms>
  </cvi-ng-tab>
</cvi-ng-tab-group>
