.price-summary {
  font-size: var(--cvi-font-size-100);
  font-weight: var(--cvi-font-weight-delta);
  padding-bottom: var(--gap);
  padding-top: var(--gap);
}

app-definition-item {
  font-size: var(--cvi-font-size-80);
}
