:host {
  max-width: var(--app-content-width);
  display: block;
  margin-inline: auto;
}

.icons-track {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--cvi-spacing-loksa);
  column-gap: var(--cvi-spacing-haapsalu);
}
