.order-summary {
  font-size: var(--cvi-font-size-100);
  font-weight: var(--cvi-font-weight-delta);
  padding-bottom: var(--gap);
  padding-top: var(--gap);
}

.order-summary-details {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: var(--cvi-spacing-valga);
}

.right,
.left {
  width: 50%;

  app-definition-item {
    padding-bottom: var(--cvi-spacing-paldiski);
  }
}

.order-summary-value {
  padding-bottom: var(--gap);
}
