:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: var(--cvi-spacing-haapsalu);
}

.title {
  color: var(--cvi-color-black-coral-10);
  font-size: var(--cvi-font-size-350);
}
