:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--cvi-spacing-paldiski);
}

.title {
  color: var(--cvi-color-black-coral-10);
  font-size: var(--cvi-font-size-350);
}
