<ng-container *ngIf="bookings">
  <cvi-ng-table [data]="bookings" class="reservations-table">
    <ng-template #headers>
      <ng-container *ngFor="let headerLabel of reservationsTableHeaderLabels">
        <th cvi-ng-header-cell>{{ headerLabel }}</th>
      </ng-container>
    </ng-template>
    <ng-template #rows let-row>
      <td cvi-ng-body-cell>{{ row.bookingIdentifierNumber }}</td>
      <td cvi-ng-body-cell>
        {{ '256 (Deluxe)' }}
      </td>
      <td cvi-ng-body-cell>{{ row.customerFirstName }} {{ row.customerLastName }}</td>
      <td cvi-ng-body-cell>{{ row.startDate | dateFormat : dateFormatString }}-{{ row.endDate | dateFormat : dateFormatString }}</td>
      <td cvi-ng-body-cell>
        <cvi-ng-button size="s" [disabled]="false" appearance="text" [cviNgModal]="modal">Cancel</cvi-ng-button>
        <ng-template #modal let-modal>
          <cvi-ng-confirmation-modal
            title="Are you sure you want to cancel this reservation?"
            confirmButtonText="Confirm cancellation"
            cancelButtonText="Back"
            (cancelled)="modal.closeModal()"
            (confirmed)="cancelBooking(row.bookingId, modal.closeModal())">
            <p>You are able to cancel reservation at least 3 days before the guest checks-in and the guest will be fully refunded.</p>
          </cvi-ng-confirmation-modal>
        </ng-template>
      </td>
    </ng-template>
  </cvi-ng-table>
</ng-container>
