.room-details {
  background-color: var(--cvi-color-white);
}

.room-type {
  border-bottom: 1px solid var(--border-color);
  font-size: var(--cvi-font-size-100);
  font-weight: var(--cvi-font-weight-delta);
  padding: var(--gap);
}

.booking-details {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: var(--gap);

  app-definition-item {
    padding: var(--cvi-spacing-unit) var(--gap);
  }
}

.booking-title,
.price-summary,
.total-price {
  font-size: var(--cvi-font-size-100);
  font-weight: var(--cvi-font-weight-delta);
  padding: var(--gap);
}

.total-price {
  display: flex;
  justify-content: space-between;
}

.definition,
.room-cost-label,
.room-cost-value,
.taxes-label,
.taxes-value {
  font-size: var(--cvi-font-size-80);
}

.room-cost,
.taxes {
  display: flex;
  justify-content: space-between;
  padding: var(--cvi-spacing-unit) var(--gap);
}

.taxes {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: var(--gap);
}
