:host {
  display: block;
  border-radius: var(--cvi-radius-s);
  border: 1px solid var(--cvi-color-black-coral-2);
  overflow: hidden;
  padding-bottom: var(--cvi-spacing-loksa);
  
  // TODO: should be defined by parent
  max-width: 226px;
}

.image {
  display: block;
  object-fit: contain;
}
