<div class="inner">
  <cvi-ng-track>
    <div class="social-block">
      <cvi-ng-track flexDirection="vertical">
        <a href="https://www.facebook.com/SMIT2.0" class="social-link">
          <span class="cvi-screenreader-text">Facebook</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="12" height="19" class="social-icon">
            <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
          </svg>
        </a>
      </cvi-ng-track>
    </div>
    <cvi-ng-track class="main" [flexColumnsEqual]="true">
      <div class="main-item">
        <a href="https://smit.ee">
          <span class="cvi-screenreader-text">SMIT logo</span>
          <img src="/images/logo.png" alt="SMIT Logo">
        </a>
      </div>
      <div class="main-item">
        <h3 class="section-title">Address</h3>
        <ul>
          <li class="section-list-item">
            <a href="https://goo.gl/maps/L1BxSgo8FT6y5T3r8" class="section-link">Mäealuse 2/2, Tallinn 12618, Eesti</a>
          </li>
        </ul>
      </div>
      <div class="main-item">
        <h3 class="section-title">Contacts</h3>
        <ul>
          <li class="section-list-item">
            <a href="tel:+3726126200" class="section-link">+372 612 6200</a>
          </li>
          <li class="section-list-item">
            <a href="mailto:smit@smit.ee" class="section-link">smit@smit.ee</a>
          </li>
        </ul>
      </div>
      <div class="main-item">
        <img src="/images/logos.png" alt="Partner logos">
      </div>
    </cvi-ng-track>
  </cvi-ng-track>
</div>
