.payment-method {
  font-size: var(--cvi-font-size-100);
  font-weight: var(--cvi-font-weight-delta);
  padding-bottom: var(--gap);
  padding-top: var(--gap);
}

.payment-method-value {
  padding-bottom: var(--gap);
}
