:host {
  display: block;
  max-width: 400px;
  margin-inline: auto;
}

.inner {
  display: flex;
  border-radius: var(--cvi-radius-pill);
  border: 1px solid var(--cvi-color-sapphire-blue-4);
  overflow: hidden;
  padding: var(--cvi-spacing-loksa);
}

.control {
  flex-grow: 1;
  min-width: 0;
  margin-inline-start: var(--cvi-spacing-rapla);
  font-size: var(--cvi-font-size-100);
}
